.comment-card {
  padding-top: 8px;
  p {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .parent-link a {
    color: $hn-green;
    &:hover {
      color: $hn-green;
    }
  }
}

.comment-data {
  font-weight: lighter;
  font-size: 14px;
}
