.link-title {
  font-size: 18px;
  color: $hn-green;
  display: inline-block;
  &:hover {
    color: $hn-green;
  }
}

.link-url {
  font-weight: lighter;
  font-size: 14px;
  color: grey;
}

.link-data {
  font-weight: lighter;
  font-size: 12px;
}

.link-comments a {
  color: $hn-green;
  &:hover {
    color: $hn-green;
  }
}

.votes {
  width: 44px;
}

.votes p {
  margin-bottom: 0;
}

.link-main {
  padding: 18px 0;
}

.votes i {
  color: $hn-grey;
  &:hover {
    color: $hn-blue;
    cursor: pointer;
  }
}

i.voted {
  color: $hn-blue;
}

.link-description {
  font-weight: lighter;
}

.link-action a {
  color: $hn-blue;
  font-weight: lighter;
  &:hover {
    color: $hn-blue;
  }
}
