.votes {
  width: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
}

.votes p {
  margin-bottom: 0;
  font-weight: lighter;
}

.votes i {
  color: rgb(170, 170, 170);
  &:hover {
    cursor: pointer;
  }
}

i.upvote.active {
  color: $hn-green;
}

i.upvote {
  &:hover {
    color: $hn-green;
  }
}

i.downvote.active {
  color: #CD113B;
}

i.downvote {
  &:hover {
    color: #CD113B;
  }
}
