// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: white;
  color: $hn-grey;
}

.background-light {
  background-color: rgba(252, 248, 250, 0.6); // was #F8eded
}

hr {
  margin: 0;
}
